.gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.gallery img {
    transition: 1s;
    padding: 20px;
}

.gallery img:hover {
    transform: scale(1.1);
}

h1{
    padding-left: 20px;
    padding-top: 20px;
    font-family: cursive;
    font-size: 30px;
}